@import './variables.scss';
@import './dank.scss';
@import './modal.scss';

body, html {
  background-color: $bgColor;
  color: $txtColor;

  height: 100%;
  margin: 0;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.view-source {
  opacity: 0.5;
  font-size: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    opacity: 1;
  }
}

.background-image {
  background: url('assets/VancouverView.jpg');

  filter: blur(10px);
  -webkit-filter: blur(10px);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.header {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.10;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.info {
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.29);
  margin-top: 15px;
  padding: 0 12px 0 12px;
  border: 1px solid;
  border-color: #ffffff40;
}

.button-container {
  margin-top: 15px;
}

.big-button {
  font-family: "dm";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 17px;  
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  border: 1px solid;
  border-color: #ffffff40;
  &:hover {
    background-color: #2b2b2b;
    background-color: rgba(0, 0, 0, 0.66);
  }  
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 13px;
  width: 150px;
  height: 40px;
  color: #fff;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  border: 1px solid;
  border-color: #ffffff40;
  &:hover {
    background-color: #2b2b2b;
    background-color: rgba(0, 0, 0, 0.66);
  }
}

.socials {
  margin-top: 20px;
  padding: 0;
}

.platform {
  margin: 8px;
}

.margin-right {
  margin-right: 15px;
}

.twitter-icon {
  font-size: 26px;
  &:hover {
    color: $twitterBlue;
  }
}

.twitch-icon {
  font-size: 26px;
  &:hover {
    color: $twitchPurple;
  }
}

.github-icon {
  font-size: 26px;
  &:hover {
    color: $githubColor;
  }
}

.gitlab-icon {
  font-size: 26px;
  &:hover {
    color: $gitlabColor;
  }
}

.discord-icon {
  font-size: 26px;
  &:hover {
    color: $discordColor;
  }
}

.npm-icon {
  font-size: 26px;
  &:hover {
    color: $npmColor;
  }
}

.keybase-icon {
  font-size: 26px;
  &:hover {
    color: $keybaseColor;
  }
}

.stackshare-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  &:hover {
    fill: $stackshareColor;
  }
}

.linkedin-icon {
  font-size: 26px;
  &:hover {
    color: $linkedInBlue;
  }
}

.patreon-icon {
  font-size: 26px;
  &:hover {
    color: $patreonColor;
  }
}

.notify-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  &:hover {
    fill: $notifyBlue;
  }
}

.email-icon {
  font-size: 26px;
  &:hover {
    color: $emailBlue;
  }
}

.tippy-tooltip, .tippy-backdrop {
  background-color: #111111;
  font-size: 13px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.281);
}

.tippy-popper, .tippy-tooltip, .tippy-arrow {
  font-family: 'dm';
  border-bottom-color: #111111;
}

#app {
  font-family: "dm";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}