// Background color
$bgColor: #212121;

// Text color
$txtColor: #FFFFFF;

// Social Colors
$twitterBlue: #38A1F3;
$twitchPurple: #6441A4;
$githubColor: #38353E;
$gitlabColor: #FCA326;
$discordColor: #7289DA;
$patreonColor: #F86754;
$npmColor: #FB3E44;
$keybaseColor: #FF6F21;
$stackshareColor: #008ff9;
$linkedInBlue: #0077B5;
$notifyBlue: #25B0ED;
$emailBlue: #3DCBEB;